/* 폰트 */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap");
@import url(./reset.css);

/* 
Noto sans KR
Regular 400
Bold 700

Roboto 
Regular 400 
Medium 500 
Bold 700 
Extrabold 900 
*/

/* Varients --------------------------------------------------- */

:root {
  /* font size ------------------ */
  --web-mainTT-fz: 50px;
  --tab-mainTT-fz: 40px;
  --mob-mainTT-fz: 30px;
  /* h1 */

  --web-TT-fz: 25px;
  --web-sm-TT-fz: 20px;
  --web-content-fz: 15px;
  --web-sm-content-fz: 14px;

  --tab-TT-fz: 18px;

  --mobile-content-fz: 12px;
  --mobile-sm-fz: 11px;

  /* color ------------------ */

  --background-grad: linear-gradient(180deg, #cdd8cf 38.45%, #a9b8ae 100%);
  --container-bg-C: #f3f6f5;
  --line-btn-stroke-C: #e6e6e6;
  --highlight-C: #afa1ff;
  --highlight-Pink-C: #ff6f6f;
  --primary-purple-C: #40367f;
  --text-primary-C: #444349;
  --text-secondary-C: #a0a0a0;
  --aside-circle-C: #868686;

  /* shadow & radius ------------------ */

  --box-radius: 10px;
  --btn-radius: 15px;

  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  --btn-shadow: 0px 6px 5px rgba(155, 129, 129, 0.25);
}
body {
  background: var(--background-grad) no-repeat;
  /* 높이 그냥 주지마세요... 왜줌 */
  font-family: "Roboto", sans-serif;
}

.content-wrapper {
  background: var(--container-bg-C);
  width: 1140px;
  margin: 105px auto 140px;
  border-radius: 67px;
  box-shadow: 0px 30px 60px 15px rgba(0, 0, 0, 0.1);
}

h1,
nav .gnb {
  font-size: var(--web-sm-TT-fz);
  color: var(--primary-purple-C);
}

h1 {
  font-weight: 900;
}

nav .gnb {
  font-weight: 500;
}

.header-main-tt {
  font-size: var(--web-mainTT-fz);
  font-weight: 900;
  color: var(--primary-purple-C);
}

.maincontent h2 {
  color: var(--primary-purple-C);
  font-weight: 900;
}

footer p {
  color: var(--primary-purple-C);
  font-size: var(--mobile-content-fz);
  font-weight: 500;
  text-align: center;
}
/* btns --------------------- */

.line-btn,
.filled-btn {
  border-radius: var(--btn-radius);
  width: 105px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-weight: 700;
  font-size: var(--web-content-fz);
}

.line-btn {
  background: var(--container-bg-C);
  border: 1px solid var(--line-btn-stroke-C);
  color: var(--text-primary-C);
}

.filled-btn {
  background: var(--highlight-C);
  box-shadow: var(--btn-shadow);
  color: #fff;
}

/* ---------------------------------- */

.aside-nav {
  width: 9px;
  height: 9px;
  background: var(--aside-circle-C);
  border-radius: 50%;
}

.mycontainer {
  width: 86.49%;
  margin: 0 auto;
}

.gnb {
  padding-top: 61px;
  display: flex;
  justify-content: space-between;
}

.gnb nav ul {
  display: flex;
}
.gnb nav ul li {
  color: var(--primary-purple-C);
  font-size: var(--web-sm-TT-fz);
  font-weight: 500;
  margin-right: 45px;
}

.gnb nav ul .menu-mail {
  margin-right: 0;
  margin-left: 53px;
  color: var(--highlight-C);
}

.menu-mail i {
  margin-right: 11px;
  color: var(--highlight-C);
}
