/* 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap');

@import url(./reset.css);

/* 
Noto sans KR
Regular 400
Bold 700

Roboto 
Regular 400 
Medium 500 
Bold 700 
Extrabold 900 

font-family: 'Noto Sans KR', sans-serif;
font-family: 'Roboto', sans-serif;

Roboto mono
Thin 100

IBM Plex Sans
reg 400 
med 500

font-family: "IBM Plex Sans", sans-serif;
font-family: "IBM Plex Mono", monospace;
font-family: "Roboto Mono", monospace;
*/

/* Varients --------------------------------------------------- */

:root {
  /* font size ------------------ */
  --web-mainTT-fz: 50px;
  --tab-mainTT-fz: 40px;
  --mob-mainTT-fz: 30px;
  --sub-TT-fz: 35px;

  --web-TT-fz: 25px;
  --web-sm-TT-fz: 20px;
  --tab-TT-fz: 18px;
  --web-very-sm-fz: 16px;
  --web-content-fz: 15px;
  --web-sm-content-fz: 14px;

  --mobile-medium-fz: 13px;
  --mobile-content-fz: 12px;
  --mobile-sm-fz: 11px;

  /* color ------------------ */

  /* 

  ===== 240507 ======
  
  기존 : 
  --background-grad: linear-gradient(180deg, #cdd8cf 38.45%, #a9b8ae 100%); 
  
  백그라운드 그라디언트 수정 - */
  

  --background-grad: linear-gradient(180deg, #DCE4EE 0%, #DCE4EE 20%,  #C5EBD6 100%);
  /*  ===== 240507 ====== */
  --container-bg-C: #f3f6f5;
  --line-btn-stroke-C: #e6e6e6;
  --highlight-C: #afa1ff;
  --highlight-Pink-C: #ff6f6f;
  --hazy-pink-C: #ffa5a5;
  --primary-purple-C: #40367f;
  --text-primary-C: #444349;
  --text-secondary-C: #a0a0a0;
  --aside-circle-C: #868686;

  /* shadow & radius ------------------ */

  --box-radius: 10px;
  --btn-radius: 15px;

  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  --cards-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --btn-shadow: 0px 6px 5px rgba(155, 129, 129, 0.25);
  --thumbnail-shadow: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 75%,
    rgba(0, 0, 0, 0.55) 100%
  );

  --hr-stroke: 1px solid var(--line-btn-stroke-C);
}

.no-project {
  font-weight: 700;
  font-size: var(--web-content-fz);
  text-align: center;
  padding-top: 50px;
}

body {
  background: var(--background-grad) no-repeat;
  font-family: "Roboto", sans-serif;
}

.content-wrapper {
  background: var(--container-bg-C);
  width: 1140px;
  margin: 105px auto 140px;
  border-radius: 67px;
  box-shadow: 0px 30px 60px 15px rgba(0, 0, 0, 0.1);
}

.gnb {
  font-size: var(--web-sm-TT-fz);
  color: var(--primary-purple-C);
}

h1 {
  font-weight: 900;
}

.gnb {
  font-weight: 500;
}

.header-main-tt {
  font-size: var(--web-mainTT-fz);
  font-weight: 900;
  color: var(--primary-purple-C);
}

.maincontent h2 {
  color: var(--primary-purple-C);
  font-weight: 900;
}

footer p {
  color: var(--primary-purple-C);
  font-size: var(--mobile-content-fz);
  font-weight: 500;
  text-align: center;
  padding-bottom: 98px;
}

.gnb,
.line-btn,
.filled-btn,
.white-btn,
.detail-w-btn,
.detail-git-btn,
.gnb nav ul li a,
.gnb nav ul .menu-mail a,
.menu-mail i {
  transition: 0.3s;
}

/* btns --------------------- */
.line-btn,
.filled-btn,
.white-btn,
.detail-w-btn,
.detail-git-btn, .share-profile {
  border-radius: var(--btn-radius);
  text-align: center;
  line-height: 35px;
  font-weight: 700;
}

.line-btn,
.filled-btn, .share-profile {
  font-size: var(--web-content-fz);
}

.line-btn, .share-profile {
  background: var(--container-bg-C);
  border: 1px solid var(--line-btn-stroke-C);
  color: var(--text-primary-C);
}

.filled-btn,
.white-btn:hover,
.skilltags li:hover,
.pf-intro .detail-w-btn:hover {
  background: var(--highlight-C);
  box-shadow: var(--btn-shadow);
  color: #fff;
  transform: translateY(-6px);
}
.line-btn,
.white-btn {
  border: 1px solid var(--line-btn-stroke-C);
}

.white-btn {
  font-size: var(--mobile-content-fz);
  padding: 10.5px 15px;
}

.white-btn i,
.detail-w-btn i {
  color: var(--highlight-C);
  margin-left: 5px;
}

.white-btn:hover i,
.detail-w-btn:hover i {
  color: #fff;
}

/* ---------------------------------- */

.aside-nav {
  display: flex;
  flex-direction: column;
  gap: 28px;
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 50%;
  margin-left: 521px;

  transform: translateY(-50%);
}
.aside-nav a {
  width: 9px;
  height: 9px;
  background: var(--aside-circle-C);
  border-radius: 50%;
  display: none;
  transition: background 0.3s;
}
.aside-nav a.active {
  background: var(--hazy-pink-C);
}
.mycontainer {
  width: 86.49%;
  margin: 0 auto;
}

.gnb {
  padding-top: 61px;
  display: flex;
  justify-content: space-between;
}

.gnb nav ul {
  display: flex;
}
.gnb nav ul li a {
  color: var(--primary-purple-C);
  font-size: var(--web-sm-TT-fz);
  font-weight: 500;
  margin-right: 45px;
}

.gnb nav ul li a:hover {
  color: var(--highlight-C);
}

.gnb nav ul .menu-mail a {
  margin-right: 0;
  margin-left: 53px;
  color: var(--highlight-C);
}

.gnb nav ul .menu-mail a:hover {
  color: var(--highlight-Pink-C);
}

.menu-mail i {
  margin-right: 11px;
  color: var(--highlight-C);
}

.gnb nav ul .menu-mail a:hover i {
  color: var(--highlight-Pink-C);
}
/* ---------------- */

.white-btn {
  color: var(--text-primary-C);
}

#go-top {
  display: none;
  width: 38px;
  height: 38px;
  text-align: center;
  line-height: 38px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  position: fixed;
  left: 50%;
  margin-left: 502px;
  bottom: 4%;
  z-index: 10000;
}

#go-top i {
  transition: color 0.3s;
}

#go-top:hover i {
  color: var(--highlight-Pink-C);
}

/* 태블릿 768px */
@media (max-width: 1080px) {
  .content-wrapper {
    width: 708px;
    margin: 31px auto 103px;
  }
  .mycontainer {
    width: 618px;
  }
  .gnb {
    font-size: var(--web-sm-TT-fz);
  }
  .gnb nav ul {
    justify-content: flex-end;
  }

  .header-main-tt {
    font-size: var(--tab-mainTT-fz);
  }

  .gnb nav ul li a {
    margin-right: 27px;
  }
  .gnb nav ul li:nth-of-type(3) a {
    margin-right: 0;
  }
  .gnb nav ul .menu-mail a {
    display: none;
  }

  .aside-nav {
    display: none;
  }
  #go-top {
    margin-left: 297px;
  }
}

@media (max-width: 516px) {
  .content-wrapper {
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 0;
  }
  .mycontainer {
    width: 93.68%;
  }
  .gnb h1 {
    display: none;
  }
  .gnb {
    justify-content: center;
  }
  .gnb nav ul {
    justify-content: center;
  }
  .gnb nav ul li:first-of-type a {
    margin-right: 62px;
  }
  .gnb nav ul li:nth-of-type(2) a {
    margin-right: 49px;
  }
  .gnb nav ul li:nth-of-type(3) a {
    margin-right: 0;
  }
  .header-main-tt {
    font-size: var(--mob-mainTT-fz);
    text-align: center;
  }
  #go-top {
    margin-left: 195px;
  }
}

@media (max-width: 340px) {
  #go-top {
    display: none;
  }
}
