@import url(./common.css);

:root {
  --card-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: var(--text-primary-C);
  font-weight: 400;
}
header {
  font-family: "Roboto", sans-serif;
}

.header-main-tt {
  margin: 115px 0 40px;
}

.portfolio-list {
  padding-bottom: 234px;
}

figure figcaption h4 {
  font-weight: 700;
  font-size: var(--web-sm-TT-fz);
  margin: 25px 0 15px;
}

figure figcaption p {
  font-size: var(--web-sm-content-fz);
  line-height: 23px;
  width: 88%;
  padding-bottom: 17px;
}

.skilltags {
  width: 470px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  margin-bottom: 97px;
}
.skilltags a {
  width: 22%;
  transition: 0.3s;
}
.skilltags a:hover,
.skilltags a.active {
  background: var(--highlight-C);
  box-shadow: var(--btn-shadow);
  color: #fff;
  transform: translateY(-6px);
}
/* li가 아니라 ul한테 줘야지... */

/* ================= masonry 로 주석처리 ==================== */
/* .pf-wrap {
  display: flex;
  gap: 56px;
  flex-wrap: wrap;
  align-items: flex-start;
}
*/

.pf-card {
  margin-bottom: 54px;
}
/* 
.pf-card.active {
  height: 520px;
} */

.pf-card figure {
  width: 291px;
}

.pf-thumb {
  display: inline-block;
  border-radius: var(--box-radius);
  width: 100%;
  height: 380px;
  background: #ccc;
  overflow: hidden;
  box-shadow: var(--box-shadow);

  position: relative;
  transition: 0.4s;
}

.pf-thumb::after {
  opacity: 1;
  visibility: visible;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background: var(--thumbnail-shadow);
  transition: 0.5s;
  pointer-events: none;
}

.pf-thumb:hover {
  transform: translateY(-15px);
  box-shadow: var(--card-shadow);
}

.pf-thumb:hover::after,
.pf-thumb.active::after {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.pf-thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} /*  */
/* ================= masonry 로 주석처리 ==================== */

.pf-card figcaption {
  display: none;
}

.pf-card.active figcaption {
  display: inline-block;
}

/* img shadow */

.gutter-sizer {
  width: 53px;
}

/* ======================== 반응형 =========================== */

/* 태블릿 768px ~ 1080 */
@media (max-width: 1080px) {
  .pf-card figure {
    width: 193px;
  }
  .gutter-sizer {
    width: 19px;
  }
  .pf-thumb {
    height: 261px;
  }
  .header-main-tt {
    margin: 76px 0 46px;
  }

  .skilltags {
    margin-bottom: 75px;
  }
  figure figcaption h4 {
    font-size: var(--web-content-fz);
  }
  figure figcaption p {
    font-size: var(--mobile-content-fz);
    line-height: 21px;
  }
  .portfolio-list .white-btn {
    padding: 10px 12px;
  }
  .pf-card {
    margin-bottom: 28px;
  }
  figure figcaption h4 {
    margin: 29px 0 12px;
  }
  .portfolio-list {
    padding-bottom: 200px;
  }
}

@media (max-width: 516px) {
  .header-main-tt {
    margin: 108px 0 73px;
  }
  .skilltags {
    width: 100%;
    justify-content: space-between;
  }
  .skilltags a {
    font-size: var(--mobile-medium-fz);
    width: 21.2%;
  }
  .pf-card figure {
    width: 218px;
  }
  .pf-thumb {
    height: 286px;
  }
  .gutter-sizer {
    width: 17px;
  }
  .pf-card {
    margin-bottom: 32px;
  }
  figure figcaption h4 {
    margin-top: 27px;
  }
}

@media (max-width: 400px) {
  .skilltags {
    gap: 4%;
  }
  .pf-card figure {
    width: 160px;
  }
  .pf-thumb {
    height: 250px;
  }
  .gutter-sizer {
    width: 4%;
  }
  figure figcaption h4 {
    font-size: var(--mobile-medium-fz);
  }
}
@media (max-width: 340px) {
  .skilltags {
    gap: 10px;
  }
  .skilltags a {
    width: 25%;
  }

  .pf-card figure {
    width: 148px;
  }
  .pf-thumb {
    height: 213px;
  }

  figure figcaption p {
    font-size: var(--mobile-sm-fz);
    line-height: 19px;
  }
}
