@import url(./common.css);

:root {
  --lightgray-C: #ececec;
  --typo-gray-C: #a9a9a9;

  --form-focus-C: #0094ff;
  --form-focus-shadow: 0px 4px 4px rgba(90, 75, 255, 0.2);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-primary-C);
}

.header-main-tt {
  padding: 136px 0 17px;
}
.header-sub-tt {
  font-size: 45px;
  font-weight: 400;
  color: var(--primary-purple-C);
  padding-bottom: 58px;
}

.maincontent h2 {
  font-size: var(--web-TT-fz);
}

.maintitles {
  text-align: right;
}

.video-area {
  width: 93%;
  margin: 0 auto;
  padding-top: 744px;
  background: #ccc;
  border-radius: var(--box-radius);
  position: relative;
  overflow: hidden;
}

.video-area video {
  width: 100%;
  height: 744px;
  object-fit: fill;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#profile {
  margin-top: -161px;
  position: relative;
  z-index: 1;
}

.profiletop {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 19px;
  padding-top: 80px;
}

.profilebtns {
  display: flex;
  gap: 25px;
  align-items: center;
  /* 안되던이유 : 얘가 기본값이 stretch라... 늘어나잖아요 */
  margin-top: 20px;
}
.profilebtns a {
  transition: 0.3s;
}

.profilebtns a:hover {
  background: var(--highlight-C);
  color: #fff;
}

.profile-img,
.profile-img > span {
  display: inline-block;
  border-radius: 50%;
}

.profile-img {
  width: 151px;
  height: 151px;
  background: var(--lightgray-C);
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img > span {
  width: 137.98px;
  height: 137.98px;
  background: #fff;
  overflow: hidden;
}

.profile-img > span img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profilebtns a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background: #fff;
}
.profilebtns a i {
  /* color: var(--text-primary-C); */
  font-size: var(--web-sm-TT-fz);
}
.profilebtns a .fa-github {
  font-size: var(--web-TT-fz);
}

.share-profile {
  width: 106px;
  height: 29px;
  text-align: center;
  color: #fff;
  background: var(--highlight-C);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
  border-radius: var(--box-radius);
  font-weight: 500;
  transition: 0.3s;
}

.share-profile:hover {
  /* background: var(--highlight-Pink-C); */
  /* background: var(--hazy-pink-C); */
  transform: translateY(-3px);
  background: #fff;
  color: var(--primary-purple-C);
  box-shadow: 0 4px 4px rgba(75, 29, 107, 0.3);
}

.profiletag {
  display: flex;
  gap: 20px;
}

/* -------------------- */

.headercontent {
  position: relative;
}

.mouse-icon {
  /* display: inline-block; */
  width: 27px;
  height: 27px;
  position: absolute;
  left: 50%;
  bottom: 187px;
  transform: translateX(-50%);
  cursor: pointer;

  animation: mousebounce 0.8s infinite forwards;
}
.mouse-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.myprofile h2 {
  margin-bottom: 14px;
}

.myprofile h4 {
  margin-bottom: 11px;
}
.myprofile > h4 {
  font-weight: 500;
  font-size: var(--web-content-fz);
  color: var(--text-secondary-C);
  display: flex;
  align-items: center;
  gap: 4px;
}

.myprofile > h3 {
  font-weight: 400;
}

.flag {
  display: inline-block;
  width: 15px;
  height: 15px;
}
.flag img {
  width: 100%;
}

.profiletag {
  margin-top: 9px;
  display: flex;
  align-items: center;
}
.profiletag h3 {
  display: inline-block;
  font-size: var(--web-content-fz);
  font-weight: 500;
  color: #fff;
  background: var(--highlight-Pink-C);
  padding: 3px 2px;
  box-sizing: border-box;
}
.profiletag > span {
  color: var(--typo-gray-C);
  position: relative;
  display: flex;
  align-items: center;
}
.profiletag > span::after {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  position: absolute;
  /* right: calc(-100% - 10px); */

  left: -10px;
  background: var(--typo-gray-C);
}

/* ---------------------------------- */

/* .myskills {
  margin-bottom: 120px;
} */

#recent-portfolio {
  padding-top: 120px;
}

.myskills > h2,
#recent-portfolio > h2,
#contact > h2 {
  margin-bottom: 50px;
}

.myprofile {
  padding-bottom: 50px;
  border-bottom: var(--hr-stroke);
  margin-bottom: 70px;
}
.skilltags {
  width: 470px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
.skilltags li {
  width: 22%;
}
/* .skilltags li:hover {
  background: var(--highlight-C);
  box-shadow: var(--btn-shadow);
  color: #fff;
  transform: translateY(-6px);
} */

.pf-tt {
  margin-top: 14px;
  position: absolute;
  font-weight: 500;
  font-size: var(--web-sm-TT-fz);
  color: #fff;
  letter-spacing: 0.05em;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  opacity: 0;
  /* visibility: hidden; 호버해도 링크안걸리니까 뺌 */
  transform: translateY(50px);
}

.pf-tt > * {
  display: block;
  text-align: center;
}

.portfolio .pf-each:hover .pf-tt {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: 0.4s;
  z-index: 2;
}

.portfolio .pf-each {
  position: relative;
  overflow: hidden;
}

.portfolio .pf-each::after {
  opacity: 0;
  visibility: hidden;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background: linear-gradient(
    180deg,
    rgba(176, 176, 176, 0.2) 0%,
    rgba(0, 0, 0, 0.8) 85%
  );
  transition: 0.3s;
}

.portfolio .pf-each:hover::after {
  opacity: 1;
  visibility: visible;
}

.pf-tt > h4:first-of-type {
  margin-bottom: 10px;
}
.pf-tt > h4:nth-of-type(2) {
  margin-bottom: 14px;
}

.portfolio {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.portfolio .pf-each {
  width: 298px;
  height: 380px;
  background: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--box-radius);
  box-shadow: var(--box-shadow);
}

.pf-each > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#recent-portfolio > p {
  display: flex;
  justify-content: flex-end;
  text-align: right;

  margin-top: 25px;
  padding-bottom: 81px;
  border-bottom: var(--hr-stroke);
}

#recent-portfolio > p a {
  font-weight: 500;
  font-size: var(--web-sm-content-fz);
  color: var(--primary-purple-C);
}
#recent-portfolio > p a i {
  margin-left: 6px;
}

#recent-portfolio > p a:hover i {
  transition: 0.3s;
  animation: bounce 0.7s forwards infinite ease-in;
}

@keyframes mousebounce {
  0% {
    transform: translateX(-50%) translateY(0);
    animation-timing-function: ease-in;
  }

  45% {
    transform: translateX(-50%) translateY(60%);
    animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
  }

  90% {
    transform: translateX(-50%) translateY(0);
  }
}

@keyframes bounce {
  0% {
    transform: translateX(-1px);
  }
  10% {
    transform: translateX(-5px);
  }

  80% {
    transform: translateX(4px);
  }
  100% {
    transform: translateX(0px);
  }
}

#contact > h2 {
  padding-top: 82px;
  text-align: center;
}
#contact > form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 302px;
}
#contact > form input,
#contact > form textarea {
  border-radius: var(--box-radius);
  border: 2px solid var(--highlight-C);
  box-shadow: var(--box-shadow);
  padding-left: 15px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: var(--web-sm-content-fz);
  transition: 0.3s ease-in;
}

#contact > form textarea {
  margin-bottom: 44px;
  padding-top: 15px;
}

#contact > form input {
  height: 35px;
  line-height: 35px;
  margin-bottom: 24px;
}
#contact > form input::placeholder,
#contact > form textarea::placeholder {
  font-family: "Roboto", sans-serif;
  color: var(--typo-gray-C);
  font-size: var(--web-content-fz);
}
#contact > form input:focus,
#contact > form textarea:focus {
  /* border: none; border가 아니라 outline이었다~~~~ */
  outline: none;
  border: 2px solid var(--form-focus-C);
  box-shadow: var(--form-focus-shadow);
}
#contact > form button {
  width: 105px;
  align-self: center;
  margin-bottom: 98px;
  transition-property: color;
  transition-property: background;
}

#contact > form button:hover {
  color: var(--highlight-C);
  outline: 2px solid var(--highlight-C);
  background: #fff;
}

#contact > form .input-group {
  position: relative;
  display: flex;
  flex-direction: column;
  transition: margin 0.3s;
}

#contact > form label {
  position: absolute;
  opacity: 0;
  left: 3px;
  top: 0;
  visibility: hidden;
  transition: 0.4s;
  color: var(--text-primary-C);
  margin: 0 0 12px 3px;
  font-size: var(--web-content-fz);
}

#contact > form .input-group:focus-within label {
  top: -25px;
  opacity: 1;
  visibility: visible;
}

#contact > form .input-group:focus-within {
  margin-top: 15px;
}

#contact > form .input-group:focus-within input::placeholder,
#contact > form .input-group:focus-within textarea::placeholder {
  opacity: 0;
}
