@import url(./common.css);

body {
  font-family: "Roboto", sans-serif;
}

.header-sub-tt {
  font-size: 45px;
  font-weight: 400;
  color: var(--primary-purple-C);
}

.video-area {
  width: 93%;
  margin: 0 auto;
  padding-top: 744px;
  background: #ccc;
}
