@import url(./common.css);

:root {
  --lightgray-C: #ececec;
  --typo-gray-C: #a9a9a9;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-primary-C);
}

.header-main-tt {
  padding: 136px 0 17px;
}
.header-sub-tt {
  font-size: 45px;
  font-weight: 400;
  color: var(--primary-purple-C);
  padding-bottom: 58px;
}

.maincontent h2 {
  font-size: var(--web-TT-fz);
}

.maintitles {
  text-align: right;
}

.video-area {
  width: 93%;
  margin: 0 auto;
  padding-top: 744px;
  background: #ccc;
  border-radius: var(--box-radius);
}

.profiletop {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 19px;
}

.profilebtns {
  display: flex;
  gap: 25px;
  align-items: center;
  /* 안되던이유 : 얘가 기본값이 stretch라... 늘어나잖아요 */
}

.profile-img,
.profile-img > span {
  display: inline-block;
  border-radius: 50%;
}

.profile-img {
  width: 151px;
  height: 151px;
  background: var(--lightgray-C);
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img > span {
  width: 137.98px;
  height: 137.98px;
  background: #fff;
  overflow: hidden;
}

.profile-img > span img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profilebtns a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background: #fff;
}
.profilebtns a i {
  /* color: var(--text-primary-C); */
  font-size: var(--web-sm-TT-fz);
}
.profilebtns a .fa-github {
  font-size: var(--web-TT-fz);
}

.share-profile {
  width: 106px;
  height: 29px;
  text-align: center;
  color: #fff;
  background: var(--highlight-C);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
  border-radius: var(--box-radius);
}

.profiletag {
  display: flex;
  gap: 20px;
}

/* -------------------- */

.mouse-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
}
.mouse-icon img {
  width: 100%;
  height: 100%;
}

.myprofile h2 {
  margin-bottom: 14px;
}

.myprofile h4 {
  margin-bottom: 11px;
}
.myprofile > h4 {
  font-weight: 500;
  font-size: var(--web-content-fz);
  color: var(--text-secondary-C);
  display: flex;
  align-items: center;
  gap: 4px;
}

.myprofile > h3 {
  font-weight: 400;
}

.flag {
  display: inline-block;
  width: 15px;
  height: 15px;
}
.flag img {
  width: 100%;
}

.profiletag {
  margin-top: 9px;
  display: flex;
  align-items: center;
}
.profiletag h3 {
  display: inline-block;
  font-size: var(--web-content-fz);
  font-weight: 500;
  color: #fff;
  background: var(--highlight-Pink-C);
  padding: 3px 2px;
  box-sizing: border-box;
}
.profiletag > span {
  color: var(--typo-gray-C);
  position: relative;
  display: flex;
  align-items: center;
}
.profiletag > span::after {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  position: absolute;
  /* right: calc(-100% - 10px); */

  left: -10px;
  background: var(--typo-gray-C);
}

/* ---------------------------------- */

.myskills {
  margin-bottom: 120px;
}

.myskills > h2,
#recent-portfolio > h2 {
  margin-bottom: 50px;
}

.myprofile {
  padding-bottom: 50px;
  border-bottom: 1px solid var(--line-btn-stroke-C);
  margin-bottom: 70px;
}
.skilltags {
  width: 470px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
.skilltags li {
  width: 22%;
}

#recent-portfolio {
}
.pf-tt {
  font-weight: 500;
  color: #fff;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.pf-tt > span {
  display: block;
  text-align: center;
}
